/*
 * Global styles
 */

/* https://fontsource.org/fonts/noto-sans */
/* noto-sans-latin-wght-normal */
@font-face {
	font-family: 'Noto Sans Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
	--color-black: #000000;
	--color-blue: #418FDE;
	--color-blue-dark: oklch(from var(--color-blue) calc(l * 0.75) c h);
	--color-green: #64A70B;
	--color-green-dark: oklch(from var(--color-green) calc(l * 0.75) c h);
	--color-orange: #FF8F1C;
	--color-purple: #9F5CC0;
	--color-purple-dark: oklch(from var(--color-purple) calc(l * 0.75) c h);
	--color-purple-light: oklch(from var(--color-purple) calc(l * 2) calc(c * 0.25) h);
	--color-red: #F4364C;
	--color-white: #FFFFFF;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

/*
 * Landmark styles
 */

html {
	background-color: var(--color-black);
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

html::before,
html::after {
	--angle: 120deg;
	--gap: 0.25rem;
	--size: 1rem;
	--border-width: 0.25rem;
	--t0: 0rem;
	--t1: calc(var(--t0) + var(--size) * 1.5);
	--t2: calc(var(--t1) + var(--gap));
	--t3: calc(var(--t2) + var(--size) * 0.75);
	--t4: calc(var(--t3) + var(--gap));
	--t5: calc(var(--t4) + var(--size) * 1.25);
	--t6: calc(var(--t5) + var(--gap));
	--t7: calc(var(--t6) + var(--size) * 1);
	--t8: calc(var(--t7) + var(--gap));
	--t9: calc(var(--t8) + var(--size) * 0.5);
	--t10: calc(var(--t9) + var(--gap));
	border-color: var(--color-black);
	border-style: solid;
	border-width: var(--border-width) 0;
	background-color: var(--color-black);
	background-image: repeating-linear-gradient(
		var(--angle),
		var(--color-orange) var(--t0) var(--t1),
		transparent var(--t1) var(--t2),
		var(--color-red) var(--t2) var(--t3),
		transparent var(--t3) var(--t4),
		var(--color-purple) var(--t4) var(--t5),
		transparent var(--t5) var(--t6),
		var(--color-blue) var(--t6) var(--t7),
		transparent var(--t7) var(--t8),
		var(--color-green) var(--t8) var(--t9),
		transparent var(--t9) var(--t10)
	);
	content: '';
	display: block;
	height: calc(var(--border-width) * 2 + var(--size));
}

body {
	background-color: var(--color-purple-light);
	font-family: 'Noto Sans Variable', sans-serif;
	font-size: clamp(1rem, 3vw, calc(20rem/16));
	line-height: 1.5;
	padding: 2em;
}

main {
	margin: 0 auto;
	max-width: 50rem;
}

/*
 * Block styles
 */

h2, p, ul {
	margin-top: 1em;
}

h1 + p {
	margin-top: 2em;
}

h2 {
	font-size: 2em;
}

p {
	text-wrap: pretty;
}

ul {
	padding-left: 2em;
}

/*
 * Inline styles
 */

a {
	color: var(--color-blue-dark);
}

a:focus {
	outline: calc(2rem/16) solid currentColor;
}

a:visited {
	color: var(--color-purple-dark);
}

img {
	display: block;
	max-width: 100%;
}

q {
	color: var(--color-green-dark);
}
